.sb {
    max-width: 240px;
    width: 100%;
    flex: 0 0 auto;
}

.sidebar__wr {

    position: fixed;
    top: 0;
    left: 0;
    padding-top: 200px;
    width: 100%;
    height: 100%;
}

.sidebar {
    max-width: 240px;
    width: 100%;
    flex: 0 0 auto;


    &__in {

    }

    &__list {
        padding: 0 0;

    }

    &__item {
        
        &_label {
            border-radius: 0 10px 10px 0;
            font-weight: 600;
            display: flex;
            align-items: center;
            padding: 5px 40px 5px 20px;
            color: var(--white);
            transition: all .3s ease;
            position: relative;
            cursor: pointer;
            min-height: 70px;
            font-size: 15px;
            line-height: 19px;

            &:hover {
                background-color: var(--green);

                &:before {
                    opacity: 0;
                }
            }

            &:after {
                content: '';
                width: 15px;
                height: 10px;
                background-repeat: no-repeat;
                background-position: center;
                background-size: contain;
                background-image: url('../../img/triangle.svg');
                position: absolute;
                top: calc(50% - 5px);
                right: 12px;
            }

            &:before {
                content: '';
                bottom: 0;
                left: 20px;
                position: absolute;
                width: calc(100% - 20px - 10px);
                height: 1px;
                background-color: var(--green);
                transition: all .3s ease;
            }
        }

        &_body {
            display: none;
        }

    }

    &__item.active {
        .sidebar__item_label {
            background-color: var(--green);
        }
    }
    
}

@media (max-width: 1200px) {

    .sb {
        max-width: unset;
        display: none;
    }

    .sidebar__wr {
        // padding-top: 100px;
        // overflow-y: auto;
        position: static;
        padding-top: 20px;
    }

    .sidebar {
        max-width: unset;


        &__item {
            
            &_label {
                padding: 20px 15px;
                border-radius: 0;

                &:before {
                    width: 100%;
                    left: 0;
                }

                &:hover {
                    background-color: unset;
                    &:before {
                        opacity: 1;
                    }
                }

                
            }

            &_body {
                display: block;
                height: 0;
                overflow: hidden;
                @include def-anim;
                
            }
        }

        &__item.active {
            .sidebar__item_label {

                &:after {
                    transform: rotate(90deg);
                }

                
                
            }

            .sidebar__item_body {
                padding: 20px 0;
            }
            
        }
    }
}