.tabcontent-dt.active {
    display: block;
}

.tabcontent-dt {
    display: none;
    animation: tab-anim .7s ease;
}


@keyframes tab-anim {
    0% {
        transform: scale(0.8);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}
.tabcontent {
    width: 100%;
    padding: 0 40px;
    &__in {
        display: flex;
        flex-wrap: wrap;
        margin-left: -10px;
        margin-right: -10px;
    }

    &__item {
        width: calc((100% / 3) - 20px);
        margin: 0 10px 20px 10px;
    }
}

@media (max-width: 768px) {
    .tabcontent {
        padding: 0 15px;
        &__item {
            width: calc(100% - 20px);
        }
    }
}