<div class="about">
    <div class="about__in">
        <div class="about__head">
            <h2 class="about__head_title">
                ООО «Оптивайт»
            </h2>
            <div class="about__head_wm">
                <img src="./img/logo-dark.svg" alt="">
            </div>
        </div>

        <div class="about__body">
            <p>
                Мы предлагаем современные и надёжные светодиодные системы для архитектурной подсветки домов, освещения производственных площадок и помещений любого вида.
                <br>
                <br>
                <!-- <br></br> -->
                У нас вы сможете приобрести высококачественную продукцию по оптимальным ценам.
            </p>
            <br>
            <br>
            <h3>У нас выгодно покупать, потому что:</h3>
           
            <ul>
                <li>Вы экономите своё время, потому что мы используем только передовые технологии производства</li>
                <li>Вы защищены как потребитель. Качество наших светильников соответствует международным стандартам качества. Кроме того, гарантия на нашу продукцию составляет 5 лет</li>
                <li>Мы внимательно следим за появлением новинок на рынке светодиодной продукции и постоянно расширяем ассортимент</li>
            </ul>
            <br>
            <br>
            <h3>У нас выгодно покупать, потому что:</h3>
           
            <ul>
                <li>Качество и надёжность</li>
                <li>Низкие цены. Собственное сборочное производство позволяет нам минимизировать стоимость светильников.</li>
                <li>Оперативную доставку</li>
            </ul>

            <div class="about__gallery">
                <h3 class="about__gallery_head">Благодарственные письма</h3>
                <div class="about__gallery_body">
                    <div class="about__gallery_body_in">
                        <a class="about__gallery_body_item" data-fancybox="about-gallery" href="./img/about-1.png">
                          <img src='./img/about-1.png' />
                          <div class="about__gallery_body_item_label">
                            ООО <br/> «Сеть аптек Фармикон»
                          </div>
                        </a>
                        <a class="about__gallery_body_item" data-fancybox="about-gallery" href="./img/about-1.png">
                          <img src="./img/about-1.png" />
                          <div class="about__gallery_body_item_label">
                            ООО <br/> «Сеть аптек Фармикон»
                          </div>
                        </a>
                        <a class="about__gallery_body_item" data-fancybox="about-gallery" href="./img/about-1.png">
                          <img src="./img/about-1.png" />
                          <div class="about__gallery_body_item_label">
                            ООО <br/> «Сеть аптек Фармикон»
                          </div>
                        </a>
                      </div>
                </div>
                
            </div>
        </div>
    </div>
</div>