<div class="catalog">

    <div class="catalog__in">
        <div class="catalog__part">
            <div class="catalog__item">
                @@include('./product.html')
            </div>
            <div class="catalog__item">
                @@include('./product.html')
            </div>
            <div class="catalog__item">
                @@include('./product.html')
            </div>
            <div class="catalog__item">
                @@include('./product.html')
            </div>
        </div>
        <div class="catalog__part">
            <div class="catalog__item">
                @@include('./product.html')
            </div>
            <div class="catalog__item">
                @@include('./product.html')
            </div>
            <div class="catalog__item">
                @@include('./product.html')
            </div>
            <div class="catalog__item">
                @@include('./product.html')
            </div>
        </div>
    </div>
</div>