<div class="contacts">
    <div class="contacts__in">
        <div class="contacts__map">
            <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A69b2b4b67c2aea6c0905a3b8d8c70ecadd25760bccb5b90fc31fe20217e30e6d&amp;source=constructor" width="400" height="400" frameborder="0"></iframe>
        </div>
        <div class="contacts__body">
            <h2 class="contacts__body_head">ООО «Оптивайт»</h2>
            <div class="contacts__body_part">
                <div class="contacts__body_part_name">
                    Адрес:
                </div>
                <div class="contacts__body_part_value">
                    г. Челябинск, Худякова 11 Б.
                </div>
            </div>
            <div class="contacts__body_part">
                <div class="contacts__body_part_name">
                    Телефоны:
                </div>
                <div class="contacts__body_part_value">
                    8 (800) 301-18-05 Звонок бесплатный <br/>
                    +7 (351) 214-14-34 Отдел продаж <br/>+7 (958) 871-72-89 Тех. отдел
                </div>
            </div>
            <div class="contacts__body_part">
                <div class="contacts__body_part_name">
                    Email:
                </div>
                <div class="contacts__body_part_value">
                    <a href="mailto:opti-pk@mail.ru">opti-pk@mail.ru</a>
                </div>
            </div>
            <div class="contacts__body_part">
                <div class="contacts__body_part_name">
                    График работы
                </div>
                <div class="contacts__body_part_value">
                    пн–пт 9 00–18 00, сб–вс выходной    
                </div>
            </div>
        </div>
    </div>
</div>

