<div class="obj">
    <div class="obj__in">
        <div class="obj__item">
            @@include('./objCard.html', {
                "obj-group": "obj-1"
            })
        </div>
        <div class="obj__item">
            @@include('./objCard.html', {
                "obj-group": "obj-2"
            })
        </div>
        <div class="obj__item">
            @@include('./objCard.html', {
                "obj-group": "obj-3"
            })
        </div>
        <div class="obj__item">
            @@include('./objCard.html', {
                "obj-group": "obj-4"
            })
        </div>
    </div>
</div>