<div class="objCard">
    <div class="objCard__img">
        <!-- <img src="./img/obj-1.png" alt=""> -->
        <div class="objCard__img_slider">
            <div
                class="objCard__img_slider_sl"
                data-src="./img/obj-1.png"
                data-fancybox="@@obj-group"
            >
                <img src="./img/obj-1.png" />
            </div>
            <div
                class="carousel__slide"
                data-src="./img/obj-1.png"
                data-fancybox="@@obj-group"
                
            >
                <img src="./img/obj-1.png" />
            </div>
            <div
                class="carousel__slide"
                data-src="./img/obj-1.png"
                data-fancybox="@@obj-group"
            >
                <img src="./img/obj-1.png" />
            </div>
            <div
                class="carousel__slide"
                data-src="./img/obj-1.png"
                data-fancybox="@@obj-group"
            >
                <img src="./img/obj-1.png" />
            </div>
        </div>
        <div class="objCard__ind">
            4
        </div>
    </div>

    <div class="objCard__body">
        <div class="objCard__body_name">Российские железные дорогиг. Челябинск</div>
        <div class="objCard__body_date">21 сентября</div>
    </div>
</div>