<div class="productDetail">
    <div class="productDetail__in">
        <div class="productDetail__card">
            <div class="productDetail__card_gl">
                <div class="productDetail__card_gl_slider">
                    <div id="mainCarousel" class="carousel w-10/12 max-w-5xl mx-auto">
                        <div
                          class="carousel__slide"
                          data-src="./img/pr-1.png"
                          data-fancybox="gallery"
                        >
                          <img src="./img/pr-1.png" />
                        </div>
                        <div
                          class="carousel__slide"
                          data-src="./img/pr-1.png"
                          data-fancybox="gallery"
                        >
                          <img src="./img/pr-1.png" />
                        </div>
                        <div
                          class="carousel__slide"
                          data-src="./img/pr-1.png"
                          data-fancybox="gallery"
                        >
                          <img src="./img/pr-1.png" />
                        </div>
                        <div
                          class="carousel__slide"
                          data-src="./img/pr-1.png"
                          data-fancybox="gallery"
                        >
                          <img src="./img/pr-1.png" />
                        </div>
                        <div
                          class="carousel__slide"
                          data-src="./img/pr-1.png"
                          data-fancybox="gallery"
                        >
                          <img data-lazy-src="./img/pr-1.png" />
                        </div>
                        <div
                          class="carousel__slide"
                          data-src="./img/pr-1.png"
                          data-fancybox="gallery"
                        >
                          <img src="./img/pr-1.png" />
                        </div>
                        <div
                          class="carousel__slide"
                          data-src="./img/pr-1.png"
                          data-fancybox="gallery"
                        >
                          <img src="./img/pr-1.png" />
                        </div>
                      </div>
                </div>
                <div class="productDetail__card_gl_thumbs">
                    <div id="thumbCarousel" class="carousel max-w-xl mx-auto">
                        <div class="carousel__slide">
                          <img class="panzoom__content" src="./img/pr-1.png" />
                        </div>
                        <div class="carousel__slide">
                          <img class="panzoom__content" src="./img/pr-1.png" />
                        </div>
                        <div class="carousel__slide">
                          <img class="panzoom__content" src="./img/pr-1.png" />
                        </div>
                        <div class="carousel__slide">
                          <img class="panzoom__content" src="./img/pr-1.png" />
                        </div>
                        <div class="carousel__slide">
                          <img class="panzoom__content" src="./img/pr-1.png" />
                        </div>
                        <div class="carousel__slide">
                          <img class="panzoom__content" src="./img/pr-1.png" />
                        </div>
                        <div class="carousel__slide">
                          <img class="panzoom__content" src="./img/pr-1.png" />
                        </div>
                      </div>
                </div>
            </div>
            <div class="productDetail__card_descr">
                <div class="productDetail__card_descr_name">
                    Взрывозащищенный светодиодный светильник Оптивайт Ex 200
                </div>
                <div class="productDetail__card_descr_text">
                    <p>
                        Светодиодный светильник серии Оптивайт Ex 60 предназначен для применения в потенциально взрывоопасных и пожароопасных зонах, на автозаправочных и газозаправочных станциях, нефтеперерабатывающих заводах, химических производствах, цехах, прилегающих территории, в соответствии с присвоенной маркировкой 2Ex nR II T6 Gc X и воспламенения горючей пыли DIP A21 Ta 80°C IP65 X
                    </p>
                </div>
                <div class="productDetail__card_descr_colors">
                    <div class="productDetail__card_descr_colors_label">Цвет:</div>
                    <div class="productDetail__card_descr_colors_list">
                        <div class="productDetail__card_descr_colors_item" style="background-color: #333333;"></div>
                        <div class="productDetail__card_descr_colors_item" style="background-color: #A7A7A7;"></div>
                    </div>
                </div>
                <div class="productDetail__card_descr_price">
                    Стоимость уточняйте по тел: <a href="tel:">8 (800) 301-18-05</a>
                    звонок бесплатный
                </div>
            </div>
        </div>
        <div class="productDetail__body">
            <h3 class="productDetail__body_head">Характеристики и описание</h3>
            <div class="productDetail__body_part">
                <h4 class="productDetail__body_part_name">Основные</h4>
                <div class="productDetail__body_part_list">
                    <ul>
                        <li>
                            <div class="productDetail__body_part_item">
                                <div class="productDetail__body_part_item_name"><span>Напряжение питания:</span></div>
                                <div class="productDetail__body_part_item_value"><span>160-264В (50-60Гц) АС;</span></div>
                            </div>
                        </li>
                        <li>
                            <div class="productDetail__body_part_item">
                                <div class="productDetail__body_part_item_name"><span>Потребляемая мощность:</span></div>
                                <div class="productDetail__body_part_item_value"><span>200 Вт</span></div>
                            </div>
                        </li>
                        <li>
                            <div class="productDetail__body_part_item">
                                <div class="productDetail__body_part_item_name"><span>Марка светодиодов:</span></div>
                                <div class="productDetail__body_part_item_value"><span>LG</span></div>
                            </div>
                        </li>
                        <li>
                            <div class="productDetail__body_part_item">
                                <div class="productDetail__body_part_item_name"><span>Максимальный световой поток:</span></div>
                                <div class="productDetail__body_part_item_value"><span>26 000 Лм</span></div>
                            </div>
                        </li>
                        <li>
                            <div class="productDetail__body_part_item">
                                <div class="productDetail__body_part_item_name"><span>Цвет излучения:</span></div>
                                <div class="productDetail__body_part_item_value"><span>Белый нейтральный</span></div>
                            </div>
                        </li>
                        <li>
                            <div class="productDetail__body_part_item">
                                <div class="productDetail__body_part_item_name"><span>Степень защиты:</span></div>
                                <div class="productDetail__body_part_item_value"><span>IP 65</span></div>
                            </div>
                        </li>
                        <li>
                            <div class="productDetail__body_part_item">
                                <div class="productDetail__body_part_item_name"><span>Класс защиты от поражения электрическим током:</span></div>
                                <div class="productDetail__body_part_item_value"><span>1</span></div>
                            </div>
                        </li>
                        <li>
                            <div class="productDetail__body_part_item">
                                <div class="productDetail__body_part_item_name"><span>Вид климатического исполнения:</span></div>
                                <div class="productDetail__body_part_item_value"><span>УХЛ 1</span></div>
                            </div>
                        </li>
                        <li>
                            <div class="productDetail__body_part_item">
                                <div class="productDetail__body_part_item_name"><span>Диапазон рабочих температур:</span></div>
                                <div class="productDetail__body_part_item_value"><span>- 65°C ÷ +50°C</span></div>
                            </div>
                        </li>
                        <li>
                            <div class="productDetail__body_part_item">
                                <div class="productDetail__body_part_item_name"><span>Срок службы светодиодов:</span></div>
                                <div class="productDetail__body_part_item_value"><span>100 000 часов</span></div>
                            </div>
                        </li>
                    </ul>
                </div>
                
            </div>
            <div class="productDetail__body_part">
                <h4 class="productDetail__body_part_name">Характеристики блока питания</h4>
                <div class="productDetail__body_part_list">
                    <ul>
                        <li>
                            <div class="productDetail__body_part_item">
                                <div class="productDetail__body_part_item_name"><span>Гальваническая развязка:</span></div>
                                <div class="productDetail__body_part_item_value"><span>Имеется</span></div>
                            </div>
                        </li>
                        <li>
                            <div class="productDetail__body_part_item">
                                <div class="productDetail__body_part_item_name"><span>Защита от скачков напряжения:</span></div>
                                <div class="productDetail__body_part_item_value"><span>до 1500 Вольт</span></div>
                            </div>
                        </li>
                        <li>
                            <div class="productDetail__body_part_item">
                                <div class="productDetail__body_part_item_name"><span>КПД:</span></div>
                                <div class="productDetail__body_part_item_value"><span>≥ 0,98</span></div>
                            </div>
                        </li>
                        <li>
                            <div class="productDetail__body_part_item">
                                <div class="productDetail__body_part_item_name"><span>Коэффициент мощности Cos φ:</span></div>
                                <div class="productDetail__body_part_item_value"><span>≥ 0,98</span></div>
                            </div>
                        </li>
                        <li>
                            <div class="productDetail__body_part_item">
                                <div class="productDetail__body_part_item_name"><span>Коэффициент пульсаций:</span></div>
                                <div class="productDetail__body_part_item_value"><span>≤ 1%</span></div>
                            </div>
                        </li>
                        <li>
                            <div class="productDetail__body_part_item">
                                <div class="productDetail__body_part_item_name"><span>Корпус:</span></div>
                                <div class="productDetail__body_part_item_value"><span>Алюминий</span></div>
                            </div>
                        </li>
                        <li>
                            <div class="productDetail__body_part_item">
                                <div class="productDetail__body_part_item_name"><span>Масса:</span></div>
                                <div class="productDetail__body_part_item_value"><span>6,5кг</span></div>
                            </div>
                        </li>
                        <li>
                            <div class="productDetail__body_part_item">
                                <div class="productDetail__body_part_item_name"><span>Габариты (Ш*Д*В):</span></div>
                                <div class="productDetail__body_part_item_value"><span>220*500*70мм</span></div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="productDetail__body_ex">
                Информация о технических характеристиках, и внешнем виде товара носит справочный характер.
            </div>
            <div class="productDetail__body_action">
                <a href="#">Вернуться назад</a>
            </div>
        </div>
    </div>
</div>