<div class="sidebar__wr">
    <div class="container">
        <div class="sidebar">
            <div class="sidebar__in">
                <ul class="sidebar__list">
                    <li class="sidebar__item">
                        <div class="sidebar__item_label">Уличное освещение</div>
                        <div class="sidebar__item_body">
                            @@include('./tabcontent.html')
                        </div>
                    </li>
                    <li class="sidebar__item">
                        <div class="sidebar__item_label">Уличное освещениесерии PRO</div>
                        <div class="sidebar__item_body">
                            @@include('./tabcontent.html')
                        </div>
                    </li>
                    <li class="sidebar__item">
                        <div class="sidebar__item_label">Мачтовые прожектора</div>
                        <div class="sidebar__item_body">
                            @@include('./tabcontent.html')
                        </div>
                    </li>
                    <li class="sidebar__item">
                        <div class="sidebar__item_label">Мачтовые прожекторасерии PRO</div>
                        <div class="sidebar__item_body">
                            @@include('./tabcontent.html')
                        </div>
                    </li>
                    <li class="sidebar__item">
                        <div class="sidebar__item_label">Взрывозащищенные светильники</div>
                        <div class="sidebar__item_body">
                            @@include('./tabcontent.html')
                        </div>
                    </li>
                    <li class="sidebar__item">
                        <div class="sidebar__item_label">Внутреннее освещение</div>
                        <div class="sidebar__item_body">
                            @@include('./tabcontent.html')
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

