<div class="tabcontent">
    <div class="tabcontent__in">
        <div class="tabcontent__item">
            @@include('./product.html')
        </div>
        <div class="tabcontent__item">
            @@include('./product.html')
        </div>
        <div class="tabcontent__item">
            @@include('./product.html')
        </div>
        <div class="tabcontent__item">
            @@include('./product.html')
        </div>
        <div class="tabcontent__item">
            @@include('./product.html')
        </div>
        <div class="tabcontent__item">
            @@include('./product.html')
        </div>
        <div class="tabcontent__item">
            @@include('./product.html')
        </div>
        <div class="tabcontent__item">
            @@include('./product.html')
        </div>
        <div class="tabcontent__item">
            @@include('./product.html')
        </div>
        <div class="tabcontent__item">
            @@include('./product.html')
        </div>
        <div class="tabcontent__item">
            @@include('./product.html')
        </div>
        <div class="tabcontent__item">
            @@include('./more.html')
        </div>
    </div>
</div>